* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #19a1ae;
}

body {
  background-color: var(--primary);
  position: relative;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top-img {
  position: absolute;
  top: -35rem;
  left: -50rem;
  z-index: -50;
}

.main-content {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 326px;
}
